<div class="text-center" style="margin-top: 10em">
    <h1>Verbindung zum Server Verloren</h1>
    <button class="cah-BTN" id="reconBTN" onclick="reconnect()">Wieder Verbinden</button>
    <button class="cah-BTN" onclick="setLogin()">Neu Anmelden</button>
</div>