<a style="text-decoration: none; color: #ffffff; display: none;" data-click-count="0" id="stopBTN" onclick="stopGame(true)" title="Stop current Game">
    <div class="topButton white font pointer">
        <i class="fas fa-power-off"></i>
    </div>
</a>
<div class="c-bg text-white">
    <div class="row">
        <div class="col cah-qCard" id="qCard">
            <!-- Current Q Card -->
            Die Bundeswehr hat mit dem Abwurf von [u]___[/u] für [u]___[/u] gesorgt.
        </div>
        <div class="col-3">
            <div class="cah-timer-box text-center" >
                <span class="timer">-</span>
            </div>
        </div>
        <div class="col" style="margin-top: 10px">
            <!-- Player Data -->
            <ul style="list-style: none" id="players">
                <li>Lädt...</li>
            </ul>
        </div>
        <div class="col cah-qCard" style="padding-top: 10px; padding-right: 30px !important;" id="settingsCard">
            <!-- Settings -->
            <div class="form-group">

            </div>
            <button class="cah-BTN" onclick="">Speichern</button>
            <button class="cah-BTN" onclick="startGame()">Spiel Starten</button>
        </div>
    </div>
</div>

<div id="cardsContainer">
    <div class="row" style="margin-left: 1em">
        <div class="col cah-aCard" style="margin-left: 1em; margin-top: 1em">
            <div style="margin: 10px !important;">
                Pornos
            </div>
            <button class="cah-Vote-BTN">VOTE</button>
        </div>
        <div class="col cah-aCard" style="margin-left: 1em; margin-top: 1em">
            <div style="margin: 10px !important;">
                Liebevoller Geschwistersex
            </div>
            <button class="cah-Vote-BTN">VOTE</button>
        </div>
    </div>
</div>