:root {
    background: #333 !important;
}

* input, * select, * label, * h1, * h2 {
    color: #fff !important;
}

body {
    padding: 0;
    margin: 0;
    background: #333 !important;
}

#windowController {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #242424 !important;
    margin: 0;
    color: #fff !important;
    -webkit-user-select: none;
    -webkit-app-region: drag !important;
    cursor: pointer;
    text-align: right;
}


#windowController div.col a, #windowController div.col span {
    -webkit-app-region: no-drag !important;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.2em;
}

.pointer {
    cursor: pointer;
}

.c-bg {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background: #414141;

}

.green {
    color: #009a2a !important;
}

/* ---------------------------------------------------
    CUSTOM - FIX
----------------------------------------------------- */
.btn-outline-danger {
    color: #f44336 !important;
}

.btn-info {
    color: #0c88d2;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: linear-gradient(0deg, #0c88d2 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(255, 255, 255, 0.26) 1px, transparent 0) !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #0c88d2 !important;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    background-color: rgba(12, 150, 225, 1) !important;
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: rgba(12, 150, 225, 1) !important;
}

select.custom-select {
    background-color: #494949;
}

.list-group hr {
    border-top: solid 1px rgba(173, 173, 173, 0.5) !important;
    width: 100%;
}

ul.list-group {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    flex-grow: 0;
}


.list-group a.tab, .list-group a.btn.tab {
    font-size: 16px !important;
    font-weight: lighter !important;
    color: #fff !important;
    padding-left: 2.5rem !important;
}

.list-group a.btn {
    padding-left: 3.5rem !important;
    margin-bottom: 0 !important;
}

ul.list-group .collapse {
    display: none;
}

ul.list-group .collapse.show {
    display: block;
}

.dropdown-menu.bg-dark a {
    color: #fff;
}

.dropdown-menu.bg-dark a:hover {
    color: #fff;
    background: #494949;
}


.bmd-layout-content {
    z-index: unset !important;
}

.bmd-layout-container.bmd-drawer-f-l.bmd-drawer-overlay.bmd-drawer-in > .bmd-layout-drawer {
    width: 20em !important;
}

/*

PLAYER

*/

#seek-bar {
    width: 80%;
    height: 5px;
    background-color: gray;
    display: flex;
    border-radius: 50px;
    cursor: pointer;
}

#fill {
    height: 5px;
    background-color: #4169e1;
    border-radius: 20px;
}

#handle {
    width: 8px;
    height: 8px;
    background-color: royalblue;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
}

/* SLIDER */

input[type=range].c-slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 6.75px 0;
    background: transparent;
}

input[type=range].c-slider:focus {
    outline: none;
}

input[type=range].c-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.5px;
    cursor: pointer;
    background: gray;
    border-radius: 25px;
}

input[type=range].c-slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #00a8eb;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.75px;
}

input[type=range].c-slider:focus::-webkit-slider-runnable-track {
    background: gray;
}

input[type=range].c-slider::-moz-range-track {
    width: 100%;
    height: 6.5px;
    cursor: pointer;
    background: gray;
    border-radius: 25px;
}

input[type=range].c-slider::-moz-range-thumb {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #00a8eb;
    cursor: pointer;
}

input[type=range].c-slider::-ms-track {
    width: 100%;
    height: 6.5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range].c-slider::-ms-fill-lower {
    background: gray;
    border-radius: 50px;
}

input[type=range].c-slider::-ms-fill-upper {
    background: gray;
    border-radius: 50px;
}

input[type=range].c-slider::-ms-thumb {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #00a8eb;
    cursor: pointer;
    height: 6.5px;
}

input[type=range].c-slider:focus::-ms-fill-lower {
    background: gray;
}

input[type=range].c-slider:focus::-ms-fill-upper {
    background: gray;
}

/* ETC */

tr.selected {
    background: #00a8eb !important;
}

#actionBar {
    color: #fff;
    min-height: 2em;
    padding: 5px;
}


/* SIDEBAR */
body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


/* PLAYLIST */

@media (max-width: 1199px) {
    .playListContainer {
        margin-top: 2em;
        flex-basis: 0 !important;
        flex-grow: 1 !important;
        max-width: 100% !important;
    }
}

.playListContainer {
    display: none;
    width: 0;
    transition: width 0.5s !important;
}

.playListContainer.show {
    display: block;
    width: 100%;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(104, 104, 104, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;
}


/*

CAH - custom

*/

.cah-qCard {
    max-width: 300px !important;
    min-width: 300px !important;
    max-height: 300px !important;
    min-height: 300px !important;
    color: #ffffff;
    background: #333;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 10px 30px !important;
}
.cah-timer-box {
    min-width: 100px !important;
    max-width: 100px !important;
    min-height: 100px !important;
    max-height: 100px !important;
    color: #ffffff;
    background: #333;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 10px 10px !important;
}
span.timer {
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    font-weight: bold;
}

.cah-aCard {
    max-width: 300px !important;
    min-width: 300px !important;
    max-height: 300px !important;
    min-height: 300px !important;
    color: #ffffff;
    background: #8d8d8d;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 0 !important;
}

button.cah-Vote-BTN  {
    width: 100%;
    border: #484848  solid 1px;
    color: #484848 ;
    background: transparent !important;
    transition: all 0.2s;
    cursor: pointer;
    bottom: 0;
}
button.cah-Vote-BTN:disabled {
    border: #adadad solid 1px;
    color: #adadad;
    background: #484848 !important;
    cursor: not-allowed;
}
button.cah-Vote-BTN:hover {
    background: #484848 !important;
    color: #8d8d8d;
}
button.cah-BTN  {
    width: 100%;
    border: #adadad solid 1px;
    color: #adadad;
    background: transparent !important;
    transition: all 0.2s;
    cursor: pointer;
}
button.cah-BTN:disabled {
    border: #adadad solid 1px;
    color: #adadad;
    background: #484848 !important;
    cursor: not-allowed;
}
button.cah-BTN:hover {
    background: #484848 !important;
    color: #adadad;
}






.topButton {
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.247);
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    text-decoration: none;
    z-index: 14999;
}