/*

SIDEBAR JS - BOOTSTRAP v4 VERSION

*/
:root {
    --text-color: #ffffff;
    --bg-color: #333333;
    --shadow-color: #1c1c1c;
}
/* The side navigation menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 15000; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: var(--bg-color);
    border-left: solid 1px #000;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1em; /* Place content 60px from the top */
    padding-left: 0;
    padding-right: 0;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    box-shadow: 0 0 10px var(--shadow-color);

    overflow-y: auto;
}
.sidebar.open {
    width: 30em;
    max-width: 30em;
}




/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3em;
    margin-left: 50px;
}



@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}


}
@media screen and (max-width: 600px){
    .sidebar.open {
        width: 100%;
    }

}

.sidebar .sidebar--item .sidebar--form textarea{
    outline: none !important;
    resize: none !important;
    overflow: auto !important;
    width: 100% !important;
    height: 15em !important;
    border-radius: 2px !important;
    border: 1px solid rgba(0,0,0,0.3) !important;
}
/*
.sidebar .sidebar--item .sidebar--form input[type=email],
.sidebar .sidebar--item .sidebar--form input[type=password],
.sidebar .sidebar--item .sidebar--form input[type=text],
.sidebar .sidebar--item .sidebar--form select{
    outline: none !important;
    resize: none !important;
    overflow: auto !important;
    width: 100% !important;
    height: 2em !important;
    border-radius: 2px !important;
    border: 1px solid rgba(0,0,0,0.3) !important;
}*/


/* CHECKBOX */

.sidebar .sidebar--item .sidebar--form .checkbox label {
    border: none !important;
}

/* CHECKBOX END */
/* FILE INPUT */





/* FILE INPUT END */






.sidebar .sidebar--item small, .sidebar .sidebar--footer .item small {
    color: grey;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}
.sidebar .sidebar--item h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: var(--text-color);
}
.sidebar .sidebar--item p {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    color: var(--text-color);
}

.sidebar .sidebar--item .btn a, .sidebar .sidebar--item .btn button {
    cursor: pointer;
}
.sidebar .sidebar--item .btn a:hover, .sidebar .sidebar--item .btn button:hover {
    font-size: 14px;
}

.sidebar .sidebar--item a, .sidebar .sidebar--item button{
    font-size: 14px;
    cursor: pointer;
}


.sidebar .sidebar--item hr {
    border: none;
    border-top: solid 1px #808080;
    margin: 2px
}

.sidebar--btnLine {
    display: inline-flex !important;
    align-self: stretch;
    width: 27em;
}
.sidebar--btnLine a, .sidebar--btnLine button {
    flex-grow: 1;
}

.sidebar .sidebar--item .sidebar--form textarea {
    background: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
}
.sidebar .sidebar--item .sidebar--form option {
    background: rgba(51, 51, 51, 0.9);
    color: var(--text-color);
}

.sidebar .sidebar--item {
    padding-left: 1em;
    padding-right: 1em;
    width: 27em;
}

.sidebar .sidebar--header {
    border-bottom: solid 1px #838383;
}
.sidebar .sidebar--header h3 {
    padding-left: 1em;
    color: var(--text-color);
}

.sidebar .sidebar--footer {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: solid 1px #838383;
}
.sidebar .sidebar--footer .item {

    display: inline-flex !important;
    justify-content: center;
    width: 27em;
}



.sidebar .sidebar--footer .item  a, .sidebar .sidebar--footer .item  button {
    cursor: pointer;
    flex-grow: 1;
    display: inline-flex !important;
    justify-content: center;
    color: #0c80c4;
}
.sidebar .sidebar--footer .item  a:hover, .sidebar .sidebar--footer .item  button:hover {
    color: #0c88d2;
}